*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.px-15{
  padding: 0px 125px;
}
.t {
  list-style-type: none;
}
.a{
  text-decoration: none;
  color: black;
}
.b{
  list-style-type:none;

}
.c{
  list-style-type: decimal;
}
.h-7{

  /* background-color: silver; */
    padding: 15px 100px 50px 15px;
    height: 50%;
}